body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

h1 {
  font-weight: 600;
  font-size: 1rem;
}

h2 {
  font-weight: 600;
  font-size: 1rem;
}

h3 {
  font-weight: 600;
  font-size: 1rem;
}